<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>民雄農工教師甄試</title>
</head>
<body>
    <div style="font-weight:bold;font-size:20px">請輸入您的相關資料</div>
    <h3>請輸入您的相關資料</h3>
    <form action="/confirm" method="POST">
        <p>姓名：<input type="text" name="name"></p>

        <p>准考證號碼：<input type="text" name="registration"></p>
    
        <p>身分證字號：<input type="text" name="identity"></p>

        <p><input type = "submit" value = "確認送出" /></p>

    </form>
    <br>
    <img src="/public/jj.jpg">
</body>
</html>